@import "../dist/ripple.css";

body {
	font-family: system-ui, sans-serif;
	max-width: 480px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.relative {
	position: relative;
}

.btn {
	appearance: none;
	height: 2.5rem;
	padding: 0 1.5rem;
	border-radius: 9999px;
	border: 1px solid black;
	background-color: transparent;
	font-size: 1rem;
}

.ml-2 {
	margin-left: 2rem;
}

.mr-0\.25 {
	margin-right: 0.25rem;
}
