@import "../../dist/ripple.css";

body {
	margin: 24px;
}

.container {
	display: flex;
	justify-content: center;
}

.ripple-container {
	position: relative;
}

#ripple {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	border-radius: 9999px;
}
